#!/usr/bin/make -f


%:
	dh $@

override_dh_install:
	dh_install --sourcedir=debian/tmp/

FLAGS:=

ifdef GITSHA
FLAGS+=--  -Ddgit=$(GITSHA)

override_dh_gencontrol:
	# dpkg-gencontrol
	dh_gencontrol $(FLAGS)
endif

